{% extends 'post/index.html' %}
{% block content %}
    {% if usr.is_authenticated %}
    <center>
        {% for i in obj %}
            <div class="container">
                <br>
                <video src="{{ i.video_file.url }}" width="1200" height="500" controls></video>
                <br>
                <h5 class="text-left">Title: {{ i.video_caption }}</h5>
                <h5 for="" class="text-left">Author: <a href="{% url 'post:user_details' i.id %}">{{ i.root_user }}</a></label>
                <div>
                    {% if i.root_user == usr %}
                        <span><a href="{% url 'post:deletePost' i.id %}" class="btn btn-dark" onclick="return confirm('Delete Post?');" name="deleteBtn">Delete</a><span>
                    {% endif %}
                    {% comment %} <span><a href="{% url 'post:updatePost' i.id %}" class="btn btn-dark" name="updateBtn">Update</a><span> {% endcomment %}
                </div>
                    
            </div>
        {% endfor %}
    </center>
    {% else %}
        <center>
                <h3><a href="{% url 'account:register' %}">Register</a></h3>
                <h3><a href="{% url 'account:login' %}">Login</a></h3>
        </center>
    {% endif %}
{% endblock %}