{% extends 'users/base.html' %}
{% block content %}
    {% csrf_token %}
<div class="login-page">
        <div class="form">
            <form action="" class="login-form">
                <input type="text" placeholder="username" required>
                <input type="password" placeholder="password" required>
                <button>Login</button>
                <p class="message">Not registered? <a href="{% url 'users:register' %}">Create an account</a></p>
            </form>
        </div>
    </div>
{% endblock %}
